<label for="table">Table</label>
  <table id="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="item1"></td>
        <td><input type="number" name="quantity1" min="1"></td>
      </tr>
      <tr>
        <td><input type="text" name="item2"></td>
        <td><input type="number" name="quantity2" min="1"></td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>